{
  "extends": "athom/homey-app",
  "rules": {
    "indent": ["error", 4],
    "strict": "off",
    "import/no-extraneous-dependencies": "off",
    "no-trailing-spaces": "off",
    "@typescript-eslint/no-non-null-assertion": "off"
  }
}
